@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scroll bar styles. START */
::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: #262626;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
/* Custom scroll bar styles. END */
